.frase{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}

p{
    background-color: lightblue;
    border-radius: 2px;
    padding: 12px;
    box-shadow: 4px 2px 8px -2px rgb(135, 135, 135, 0.77);
    margin: 2%;
}